#title {
  color: white;
  font-family: monospace, monospace;
  letter-spacing: 1rem;
  padding-top: 10rem;
}

#settings {
  color: white;
  padding-top: 1rem;
}

#settings .custom-control-input:checked~.custom-control-label::before {
  /* Copied from the colors of --warning in bootstrap */
  background-color: #ffc107;
  border-color: #ffc107;
}

/* Fixes for iPhone SE and similar sized devices */
@media only screen and (max-height: 568px) {
  #title {
    padding-top: 2rem;
  }

  .btn-group-lg>.btn {
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
  }
}
