html {
  background-attachment: fixed;
  background-image: url(./bg.jpg);
  background-position: 55% center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
}

#root {
  text-align: center;
}

#root.hide-all {
  display: none !important;
}

#close {
  font-size: 2rem;
}

#title {
  color: white;
  font-family: monospace, monospace;
  letter-spacing: 1rem;
  padding-top: 10rem;
}

.automa-button {
  font-size: 0.8rem;
  font-style: italic;
  vertical-align: top;
}

#settings {
  color: white;
  padding-top: 1rem;
}

#settings .custom-control-input:checked~.custom-control-label::before {
  /* Copied from the colors of --warning in bootstrap */
  background-color: #ffc107;
  border-color: #ffc107;
}

#players {
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 0.25rem;
}

ol#players li {
  background-color: rgba(255, 255, 255, 0.75);
}

ol#players li:first-child {
  margin-top: 0;
}

ol#players .player-board {
  font-variant-caps: small-caps;
  font-weight: 500;
}

.polania {
  color: #ababab;
}

.saxony {
  color: #525252;
}

.crimea {
  color: #b9a51e;
}

.togawa {
  color: #904bab;
}

.rusviet, .airship-aggressive {
  color: #c14747;
}

.nordic, .airship-passive {
  color: #2c78bd;
}

.albion {
  color: #539832;
}

.automa {
  font-style: italic;
}

.proximity {
  color: darkgray;
  font-size: small;
}

#global {
  margin-top: 0.8rem;
}

#global li {
  background-color: rgba(255, 255, 255, 0.75);
  font-size: smaller;
  padding: 0.25rem 0.9rem;
}

#global .icon {
  font-size: large;
  margin-right: 0.3rem;
}

#global .label {
  vertical-align: text-bottom;
}

#controls {
  margin-bottom: 15px;
}

/* Fixes for iPhone SE and similar sized devices */
@media only screen and (max-height: 568px) {
  #title {
    padding-top: 2rem;
  }

  .btn-group-lg>.btn {
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
  }

  #players {
    font-size: .75rem;
    line-height: .8rem;
    margin-top: 0.15rem;
  }
}
