html {
  background-attachment: fixed;
  background-image: url(./bg.jpg);
  background-position: 55% center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: rgba(255, 255, 252, 0.15);
  height: 100%;
}

#root {
  padding-top: 15px;
  text-align: center;
}

#title {
  font-family: monospace;
  padding: 45px 0;
}

#input input {
  background-color: rgba(255, 255, 255, 0);
}

#players {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 30px;
}

ol#players li {
  background-color: rgba(255, 255, 255, 0.45);
  margin-top: 10px;
}

ol#players li:first-child {
  margin-top: 0;
}

.polania {
  color: #bbbbbb;
}

.saxony {
  color: #636363;
}

.crimea {
  color: #b9a51e;
}

.togawa {
  color: #904bab;
}

.rusviet {
  color: #c14747;
}

.nordic {
  color: #2c78bd;
}

.albion {
  color: #539832;
}

.proximity {
  color: darkgray;
  font-size: small;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
}

#global li {
  background-color: rgba(255, 255, 255, 0.45);
}

#controls {
  margin-bottom: 15px;
}
