html {
  background-attachment: fixed;
  background-image: url(./jakub-rozalski-1920-orp-jagienka-final.jpg);
  background-position: 55% center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body.container {
  background-color: rgba(255, 255, 255, 0.60);
  padding: 10px;
  text-align: center;
  height: 100%;
}

#title {
  font-family: monospace;
  padding: 45px 0;
}

#playersSection {
  font-size: 20px;
  line-height: 0.9;
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 8%;
  margin-bottom: 15%;
}

ol#playersSection li {
  margin-top: 20px;
}

.proximity {
  font-size: small;
  color: darkgray;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
}
