html {
  background-attachment: fixed;
  background-image: url(./bg.jpg);
  background-position: 55% center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body {
  background-color: rgba(255, 255, 252, 0.15);
  height: 100%;
}

#root {
  text-align: center;
}

#root.hide-all {
  display: none !important;
}

#title {
  color: white;
  font-family: monospace;
  letter-spacing: 1rem;
  padding-bottom: 13rem;
  padding-top: 11rem;
}

#input label {
  background-color: rgba(255, 255, 255, 0);
}

#players {
  margin-top: 0.25rem;
  font-size: 18px;
  line-height: 1;
}

ol#players li {
  background-color: rgba(255, 255, 255, 0.45);
  margin-top: 0.5rem;
}

ol#players li:first-child {
  margin-top: 0;
}

.polania {
  color: #bbbbbb;
}

.saxony {
  color: #636363;
}

.crimea {
  color: #b9a51e;
}

.togawa {
  color: #904bab;
}

.rusviet, .airship-aggressive {
  color: #c14747;
}

.nordic, .airship-passive {
  color: #2c78bd;
}

.albion {
  color: #539832;
}

.proximity {
  color: darkgray;
  font-size: small;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
}

#global {
  margin-top: 0.8rem;
}

#global li {
  background-color: rgba(255, 255, 255, 0.45);
  font-size: smaller;
  padding: 0.25rem 0.9rem;
}

#global .icon {
  font-size: large;
  margin-right: 0.3rem;
}

#global .label {
  vertical-align: text-bottom;
}

#controls {
  margin-bottom: 15px;
}
