@import "landingPage.css";
@import "gamePage.css";

html {
  background-attachment: fixed;
  background-image: url(../images/bg.jpg);
  background-position: 55% center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
}

#root {
  text-align: center;
}

#root.hide-all {
  display: none !important;
}

#navigation {
  margin-bottom: 15px;
}
